header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: white;
}

header img {
  height: 50px;
}
header a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
